.send-button {
  width: 95%; 
  margin: 10px;
  position: fixed;
  bottom: 20px;
  height: 30px;
  border-radius: 5px;
}

.shareApp{
  position: absolute; 
  height: 38px!important;
  width: 50px;
  right: 10px;
  bottom: 10px;
  background-color: transparent;
}