body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#menu {
	width: 30%;
	margin: 0; padding: 0;
	float: left;
}

#conteudo {
	width: 70%;
	float: right;
}