<div id="menu">
	<ul><a href="/">Home</a></ul>	
	<ul>Categorias
		<li style="list-style-type:none">
		<ul><a href="/listaCategorias">Lista</a></ul>
		<ul><a href="/categorias/cadastro">Cadastrar</a></ul>
		</li>
	</ul>
	<ul>Subcategorias
		<li style="list-style-type:none">
		<ul><a href="/listaSubcategorias">Lista</a></ul>
		<ul><a href="/subcategorias/cadastro">Cadastrar</a></ul>
		</li>
	</ul>
	<ul>Canais
		<li style="list-style-type:none">
		<ul><a href="/listaCanais">Lista</a></ul>
		<ul><a href="/canais/cadastro">Cadastrar</a></ul>
		</li>
	</ul>
	<ul>Eventos
		<li style="list-style-type:none">
		<ul><a href="/listaEventos">Lista</a></ul>
		<ul><a href="/eventos/cadastro">Cadastrar</a></ul>
		</li>
	</ul>
</div>