<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<%include indice.ejs %>
	<div id="conteudo">
		<h1><%= title %></h1>
		<form action="/addCanal" method="post">
		
			<p>Categoria:
				<select id="categoria" name="categoria">
				<% listaCategorias.forEach(function(categoria){ %>
					<option value="<%=JSON.stringify(categoria) %>"> <%= categoria.nome %> </option>
				<%})%>
				</select>
			</p>
			<p>Nome:<input type="text" name="nome" /></p>
			<p>ID Youtube:<input type="text" name="idYoutube" /></p>
			<p>ID Facebook:<input type="text" name="idFacebook" /></p>
			<p>ID Instagram:<input type="text" name="idInstagram" /></p>
			<p>ID Vimeo:<input type="text" name="idVimeo" /></p>
			<p>ID Twitch:<input type="text" name="idTwitch" /></p>
			<p><input type="submit" value="Salvar" /></p>
		</form>
	</div>
</body>
</html>