.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 12px;
    .card {
      display: inline-block;
    }
  }

.sub-cta-selected {
  --background: thistle;
  color: black !important;
}

.data-button{
  --border-style: solid !important;
  --border-color: white !important;
  --border-width: 1px !important;
  width: 100%;
}

.pulseHeader {
  background: linear-gradient(316deg, #c94b4b, #4b134f);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:7% 0%}
  50%{background-position:94% 100%}
  100%{background-position:7% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:7% 0%}
  50%{background-position:94% 100%}
  100%{background-position:7% 0%}
}
@keyframes AnimationName {
  0%{background-position:7% 0%}
  50%{background-position:94% 100%}
  100%{background-position:7% 0%}
}

