<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-label>Data:</ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MM YYYY" value="{{today}">
      </ion-datetime>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="eventcard" *ngFor="let event of events" margin-bottom>
      <ion-img [src]="event.largeimage"></ion-img>
      <ion-card-content>
        <ion-row >
          <ion-col size="2"><h2 class="month">{{event.data.getMonth()}}</h2><h1>{{event.data.getFullYear()}}</h1><h3>{{event.data.getDay()}}</h3></ion-col>
          <div class="seperator"></div>
          <ion-col size="7" class="name"><h2><strong>{{event.artista}}</strong></h2><h4 class="venue">{{event.title}}</h4></ion-col>
          <ion-col size="2"><button ion-button color="greenish" class="btn" >BOOK</button></ion-col>
        </ion-row>
        <div class="hor-seperator"></div>
        <ion-row>
          <ion-col size="6"><ion-badge color="light">{{event.type}}</ion-badge></ion-col>
          <ion-col size="6" class="righttext">{{event.time}}</ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
</ion-content>
