<ion-header>
  <ion-toolbar color='danger'>
    <ion-title>
      <h1>Livestuff</h1>
    </ion-title>
  </ion-toolbar>
  <!--Code for our second navbar starts here. Navbars are fixed. so if you want this to scroll with the page place in ion-content-->
  <ion-toolbar color='danger'>
    <ion-item>
     <ion-icon item-left color='danger' name='search'></ion-icon>
      <!--Code for our dropdown with ngFor to iterate through our categories and form a ion-select for each one -->
      <ionic-selectable
      [items]="channelsArray"
      itemValueField="idYoutube"
      itemTextField="nome"
      [canSearch]="true"
      (onChange)="filter($event)">>
      </ionic-selectable>
    </ion-item>
  </ion-toolbar>
</ion-header>
<!--Code for our content starts here -->
<ion-content>
  <ion-card class="eventcard" *ngFor="let event of events" margin-bottom>
    <ion-img [src]="event.largeimage" class="img-list"></ion-img>
    <ion-card-content>
      <ion-row >
        <ion-col size="2"><h1 class="month">{{event.data.substring(8,10)}}</h1><h2 class="month">{{event.data.substring(5,7)}}</h2><h3 class="month">{{event.data.substring(0, 4)}}</h3></ion-col>
        <div class="seperator"></div>
        <ion-col size="7" class="name"><h2><strong>{{event.artista}}</strong></h2><h4 class="venue">{{event.title}}</h4></ion-col>
        <ion-col *ngIf="event.data != todayString" size="2">
            <button *ngIf="dataStorage.schedule.indexOf(event.url) < 0" ion-button color="greenish" class="btn" (click)='scheduleNotification(event)'>
              <ion-icon name="add-circle" class="icon" style="font-size: 20px;"></ion-icon>
            </button>
            <button *ngIf="dataStorage.schedule.indexOf(event.url) >= 0" ion-button color="greenish" class="btn">
              <ion-icon name="checkmark-circle-outline" class="icon" style="font-size: 20px;"></ion-icon>
            </button>
          <button  ion-button (click)="sendShare(event)" class="btnSs">
            <ion-icon slot="icon-only" name="share" style="font-size: 20px;"></ion-icon>
          </button>
        </ion-col>
        <ion-col *ngIf="event.data === todayString" size="2">
          <button ion-button color="red" class="btnlive" (click)='callYoutube(event)'>LIVE</button>            
          <button  ion-button (click)="sendShare(event)" class="btnSs">
            <ion-icon slot="icon-only" name="share" style="font-size: 20px;"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <div class="hor-seperator"></div>
      <ion-row>
        <ion-col size="6" class="righttext">{{event.time}}HRS</ion-col>
        <ion-col size="6"><ion-badge color="light">{{event.type}}</ion-badge></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>